.cenS {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/*清除浮动*/
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.ovHidden {
  overflow: hidden;
}
.full {
  width: 100%;
  height: 100%;
}
.disN {
  display: none;
}
.disB {
  display: block;
}
.imgSon {
  width: 100%;
  height: auto;
}
.poR {
  position: relative;
}
/*padding*/
.p_10L {
  padding-left: 10px;
}
.p_10R {
  padding-right: 10px;
}
.p_10B {
  padding-bottom: 10px;
}
.p_10T {
  padding-top: 10px;
}
.p_10LR {
  padding: 0 10px;
}
.p_10A {
  padding: 10px;
}
.p_20A {
  padding: 20px;
}
.p_20L {
  padding-left: 20px;
}
.p_20R {
  padding-right: 20px;
}
.p_20T {
  padding-top: 20px;
}
.p_20B {
  padding-bottom: 20px;
}
.p_20LR {
  padding: 0 20px;
}
.p_20TB {
  padding: 20px 0;
}
.m_10B {
  margin-bottom: 10px;
}
.m_10R {
  margin-right: 10px;
}
.m_20B {
  margin-bottom: 20px;
}
.m_20R {
  margin-right: 20px;
}
.m_20T {
  margin-top: 20px;
}
.m_30B {
  margin-bottom: 30px;
}
.m_30T {
  margin-top: 30px;
}
.m_30L {
  margin-left: 30px;
}
.m_30R {
  margin-right: 30px;
}
.m_30A {
  margin: 30px;
}
.bgcWeb {
  background: #ec5559;
}
.colorWeb {
  color: #ec5559;
}
.color99 {
  color: #999;
}
.initAcitve {
  color: #ec5559;
  border-bottom: 2px solid #ec5559;
}
.tac {
  text-align: center !important;
}
.tar {
  text-align: right !important;
}
.tal {
  text-align: left !important;
}
.layui-laypage-em {
  background-color: #ec5559 !important;
}
.full {
  width: 100%;
  height: 100%;
}
.comHei60 {
  line-height: 60px;
  font-size: 20px;
}
.comHei40 {
  line-height: 40px;
  height: 40px;
}
.comHei30 {
  line-height: 30px;
  height: 30px;
}
.w100 {
  width: 100%;
}
.font14 {
  font-size: 14px;
}
.font16 {
  font-size: 16px;
}
.font18 {
  font-size: 18px;
}
.font20 {
  font-size: 20px;
}
.font24 {
  font-size: 24px;
}
/*边框*/
.bor_B {
  border-bottom: 1px solid #ddd;
}
.bor_R {
  border-right: 1px solid #ddd;
}
.border {
  border: 1px solid #ddd;
  border-radius: 5px;
}
.startInfo {
  padding: 20px 30px;
}
.startInfo .left {
  width: 250px;
  height: 300px;
  float: left;
  padding-right: 20px;
}
.rightShut {
  position: absolute;
  right: -30px;
  top: -30px;
  background: url(../img/shutAlert.png) center no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
}
