html, body {
    background: #f2f3f4;
}

.banner {
    width: 100%;
    height: 350px;
    background-image: url("../img/rank.png");
    background-repeat: no-repeat;
    background-position: center;
}

.centerCont {
    width: 1218px;
    margin: 0 auto;
    overflow: hidden;
    padding: 24px 0 48px 0;
}

.rankItem {
    background: #ffffff;
    width: 584px;
    float: left;
    margin: 12px;
}

.title {
    width: 100%;
    height: 62px;
    line-height: 62px;
    padding: 0 28px;
    font-size: 22px;
    font-weight: 600;
    color: #333333;
    background: #fbfbfb;
}

.rankList {
    padding: 1px 18px;
    height: 778px;
}

.rankList > li {
    height: 60px;
    margin: 16px 0;
}

.indexL {
    display: block;
    width: 56px;
    height: 56px;
    line-height: 56px;
    background-image: url("../img/rankc.png");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    float: left;
}

.rankList > li:nth-child(1) > .indexL {
    background-image: url("../img/no.1.png");
    color: #ffffff;
}

.rankList > li:nth-child(2) > .indexL {
    background-image: url("../img/no.2.png");
    color: #ffffff;
}

.rankList > li:nth-child(3) > .indexL {
    background-image: url("../img/no.3.png");
    color: #ffffff;
}

.contR {
    overflow: hidden;
    float: right;
    width: 468px;
}

.rankImg {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
}

.rankDetail1 {
    float: left;
    width: 290px;
    margin-left: 22px;
    padding-top: 8px;
}

.rankDetail1 > p {
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    padding-bottom: 4px;
}

.rankDetail1 > div {
    font-size: 12px;
    color: #999999;
    height: 16px;
    line-height: 16px;
    padding-left: 20px;
    background-image: url("../img/rankUser.png");
    background-repeat: no-repeat;
    background-position: 0 center;
}

.rankLabel1 {
    float: right;
    padding-top: 10px;
}

.rankLabel1 > p {
    font-size: 12px;
    color: #ec5559;
    text-align: right;
    padding-bottom: 6px;
}

.rankLabel1 > div {
    width: 76px;
    height: 12px;
}

.score0 {
    background-image: url("../img/0.png");
}

.score1 {
    background-image: url("../img/1.png");
}

.score2 {
    background-image: url("../img/2.png");
}

.score3 {
    background-image: url("../img/3.png");
}

.score4 {
    background-image: url("../img/4.png");
}

.score5 {
    background-image: url("../img/5.png");
}

.rankDetail2 {
    width: 390px;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    float: right;
}

.rankDetai3 {
    width: 390px;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
    color: #333333;
    font-weight: 600;
    float: right;
    overflow: hidden;
}

.rankDetai3 > p {
    width: 210px;
    float: left;
}

.progress {
    float: right;
    width: 126px;
    height: 6px;
    border-radius: 3px;
    background: #dfdfdf;
    margin-top: 25px;
}

.progress > div {
    height: 6px;
    border-radius: 3px;
    background: #ec5559;
}



















