<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="icon" type="image/x-icon" href="">
    <title>排行榜</title>
    <meta name="Keywords" content="荆楚红">
    <meta name="Description" content="荆楚红">
</head>
<link rel="stylesheet" href="common/reset.css">
<link rel="stylesheet" href="lab/layui/css/layui.css">
<link rel="stylesheet" href="common/common.css">
<link rel="stylesheet" href="css/rank.css">
<script src="lab/layui/layui.js"></script>
<script src="lab/jquery1.9.0.min.js"></script>
<script src="common/common.js"></script>
<script src="common/template-web.js"></script>
<script src="js/rank.js"></script>
<body>
<header></header>
<div class="container">
    <div class="banner"></div>
    <div class="centerCont">
        <div class="rankItem">
            <p class="title">场馆排行</p>
            <ul class="rankList cgArea">
                <li>
                    <span class="indexL">1</span>
                    <div class="contR">
                        <div class="rankImg" style="background-image: url(img/index32.png);"></div>
                        <div class="rankDetail1">
                            <p class="pointTxt">武汉革命博物馆</p>
                            <div><span>2234</span>人参观</div>
                        </div>
                        <div class="rankLabel1">
                            <p>3.2分</p>
                            <div class="score3"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="indexL">2</span>
                    <div class="contR">
                        <div class="rankImg" style="background-image: url(img/index32.png);"></div>
                        <div class="rankDetail1">
                            <p class="pointTxt">武汉革命博物馆</p>
                            <div><span>2234</span>人参观</div>
                        </div>
                        <div class="rankLabel1">
                            <p>3.2分</p>
                            <div class="score3"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="indexL">3</span>
                    <div class="contR">
                        <div class="rankImg" style="background-image: url(img/index32.png);"></div>
                        <div class="rankDetail1">
                            <p class="pointTxt">武汉革命博物馆</p>
                            <div><span>2234</span>人参观</div>
                        </div>
                        <div class="rankLabel1">
                            <p>3.2分</p>
                            <div class="score3"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="indexL">4</span>
                    <div class="contR">
                        <div class="rankImg" style="background-image: url(img/index32.png);"></div>
                        <div class="rankDetail1">
                            <p class="pointTxt">武汉革命博物馆</p>
                            <div><span>2234</span>人参观</div>
                        </div>
                        <div class="rankLabel1">
                            <p>3.2分</p>
                            <div class="score3"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="rankItem">
            <p class="title">学校排行</p>
            <ul class="rankList schoolArea">
                <li>
                    <span class="indexL">1</span>
                    <div class="contR">
                        <div class="rankImg" style="background-image: url(img/rankSchool.png);"></div>
                        <div class="rankDetail2 pointTxt">武汉第N小学</div>
                    </div>
                </li>
                <li>
                    <span class="indexL">2</span>
                    <div class="contR">
                        <div class="rankImg" style="background-image: url(img/rankSchool.png);"></div>
                        <div class="rankDetail2 pointTxt">武汉第N小学</div>
                    </div>
                </li>
                <li>
                    <span class="indexL">3</span>
                    <div class="contR">
                        <div class="rankImg" style="background-image: url(img/rankSchool.png);"></div>
                        <div class="rankDetail2 pointTxt">武汉第N小学</div>
                    </div>
                </li>
                <li>
                    <span class="indexL">4</span>
                    <div class="contR">
                        <div class="rankImg" style="background-image: url(img/rankSchool.png);"></div>
                        <div class="rankDetail2 pointTxt">武汉第N小学</div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="rankItem">
            <p class="title">区域排行</p>
            <ul class="rankList qyArea">
                <li>
                    <span class="indexL">1</span>
                    <div class="contR">
                        <div class="rankImg" style="background-image: url(img/rankRoad.png);"></div>
                        <div class="rankDetai3">
                            <p class="pointTxt">新洲区</p>
                            <div class="progress">
                                <div style="width: 60%;"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="indexL">2</span>
                    <div class="contR">
                        <div class="rankImg" style="background-image: url(img/rankRoad.png);"></div>
                        <div class="rankDetai3"><p class="pointTxt">新洲区</p>
                            <div class="progress">
                                <div style="width: 60%;"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="indexL">3</span>
                    <div class="contR">
                        <div class="rankImg" style="background-image: url(img/rankRoad.png);"></div>
                        <div class="rankDetai3"><p class="pointTxt">新洲区</p>
                            <div class="progress">
                                <div style="width: 60%;"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <span class="indexL">4</span>
                    <div class="contR">
                        <div class="rankImg" style="background-image: url(img/rankRoad.png);"></div>
                        <div class="rankDetai3"><p class="pointTxt">新洲区</p>
                            <div class="progress">
                                <div style="width: 60%;"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer></footer>
</body>
<script type="text/template" id="cgArea">
    {{each data value index}}
    <li>
        <span class="indexL">{{index+1}}</span>
        <div class="contR">
            <div class="rankImg" style="background-image: url({{value.stadium_cover}})"></div>
            <div class="rankDetail1">
                <p class="pointTxt">{{value.stadium_name}}</p>
                <div><span>{{value.stadium_visitnumber}}</span>人参观</div>
            </div>
            <div class="rankLabel1">
                <p>{{value.stadium_score}}分</p>
                {{if value.stadium_score<1}}
                <div class="score0"></div>
                {{else if value.stadium_score>=1 && value.stadium_score<2 }}
                <div class="score1"></div>
                {{else if value.stadium_score>=2 && value.stadium_score<3 }}
                <div class="score2"></div>
                {{else if value.stadium_score>=3 && value.stadium_score<4 }}
                <div class="score3"></div>
                {{else if value.stadium_score>=4 && value.stadium_score<5 }}
                <div class="score4"></div>
                {{else if value.stadium_score>=5}}
                <div class="score5"></div>
                {{/if}}
            </div>
        </div>
    </li>
    {{/each}}
</script>
<script type="text/template" id="schoolArea">
    {{each data value index}}
    <li>
        <span class="indexL">{{index+1}}</span>
        <div class="contR">
            <div class="rankImg" style="background-image: url(img/rankSchool.png);"></div>
            <div class="rankDetail2 pointTxt">
                <div class="rankDetail2 pointTxt">{{value.school_name}}</div>
            </div>
        </div>
    </li>
    {{/each}}
</script>
<script type="text/template" id="qyArea">
    {{each data value index}}
    <li>
        <span class="indexL">{{index+1}}</span>
        <div class="contR">
            <div class="rankImg" style="background-image: url(img/rankRoad.png);"></div>
            <div class="rankDetai3">
                <p class="pointTxt">{{value.area_name}}</p>
                {{if value.area_signup_number<1}}
                <div class="progress">
                    <div style="width: 0%;"></div>
                </div>
                {{else if value.area_signup_number>=1 && value.area_signup_number<2 }}
                <div class="progress">
                    <div style="width: 20%;"></div>
                </div>
                {{else if value.area_signup_number>=2 && value.area_signup_number<3 }}
                <div class="progress">
                    <div style="width: 40%;"></div>
                </div>
                {{else if value.area_signup_number>=3 && value.area_signup_number<4 }}
                <div class="progress">
                    <div style="width: 60%;"></div>
                </div>
                {{else if value.area_signup_number>=4 && value.area_signup_number<5 }}
                <div class="progress">
                    <div style="width: 80%;"></div>
                </div>
                {{else if value.area_signup_number>=5}}
                <div class="progress">
                    <div style="width: 100%;"></div>
                </div>
                {{/if}}
            </div>
        </div>
    </li>
    {{/each}}
</script>
</html>