@import "project/_imports.less";
.topbar { height: 40px; line-height: 40px; background: #eee; }
.topbar a { color: #666; }
.topbar a:hover { color: #f00; }
.topbar .after a { margin-right: 10px; }
.save-to-desktop, .all-game, .user { padding-left: 20px; background: url("../images/topbar_icon.gif") no-repeat; }
.save-to-desktop { float: left; background-position: 0 0; }

.user { float: right; padding-left: 16px; background-position: 0 -40px; margin-right: 26px; }
.user span { color: #d5d5d5; margin: 0 9px; }

.all-game {position: relative; float: right; background-position: 0 -80px; }
.ag-list { width: 348px; background: #fff; padding: 0 0 20px 25px; border: 5px solid #eee; position: absolute; top: 40px; right: 0;overflow: hidden; z-index: 13; display: none; }
.ag-list .more-game { width: 320px; height: 34px; line-height: 34px; display: block; text-align: center; background: #f2f2f2; color: #999; border: 1px solid #e9e9e9; margin-top: 15px; }
.ag-list ul { overflow: hidden; zoom: 1; }
.ag-list li { float: left; width: 33.33%; margin-top: 15px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.ag-list li a { float: left; height: 20px; line-height: 20px; display: block; color: #000; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.ag-list li a img { float: left; width: 20px; height: 20px; margin-right: 4px; }
.ag-list li a:hover { color: #f00; }
.all-game:hover .ag-list{
    display: block;
}

.navigation { height: 60px; background: @red; }
.site-logo { float: left; width: 120px; height: 44px; margin: 8px 0; }
.site-logo a { width: 100%;height: 100%; display: block; background: url("../images/logo.png") center no-repeat; overflow: hidden;text-indent: -9999px;}
.site-nav { float: right; height: 60px; overflow: hidden; position: relative; right: -33px; top: 0; }
.site-nav a { float: left; font-size: 20px; line-height: 60px; padding: 0 32px; color: #fff; }
.site-nav a.active { background: @black; }

